/* Css Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Navbar Styling */
#navbar {
  display: flex;
  margin-left: 150px;
  margin-right: 150px;
  padding: 30px;
}

#navbar .logo img {
  width: 250px;
}

#navbar ul {
  display: flex;
  margin-top: 12px;
}

#navbar ul li {
  list-style: none;
  font-size: 20px;
}

#navbar ul li a {
  text-decoration: none;
  color: black;
  padding: 0 20px;
}

#navbar ul li a:hover {
  color: #01522c;
}

/* Home Section */
#home {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 450px;
  margin-right: 70px;
}

.home-box h1 {
  font-size: 2.6rem;
  color: #006838;
  font-weight: bold;
}

.home-box h2 {
  font-size: 2.6rem;
  color: #006838;
  font-weight: bold;
  margin-bottom: 18px;
}

.home-box p {
  margin-top: 7px;
  color: #718096;
  opacity: 1;
  font-size: 17px;
}

.home-box1 img {
  width: 560px;
  padding-left: 100px;
}

/* Home1 Section */
#home1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 700px;
  margin-left: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.home1-box h1 {
  font-size: 2.8rem;
  color: #006838;
  font-weight: bold;
}

.home1-box h2 {
  font-size: 2.8rem;
  color: #006838;
  font-weight: bold;
  margin-bottom: 18px;
}

.home1-box p {
  margin-top: 7px;
  color: #718096;
  opacity: 1;
  font-size: 17px;
}

.home1-box1 img {
  width: 600px;
  padding-right: 150px;
}

/* index Section */
#index {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
  text-align: center;
  flex-direction: column;
  /* box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px; */
}

.index-box img {
  width: 200px;
  border-radius: 100px;
}

.index-box .border {
  background-color: #667eea;
  height: 6px;
  width: 50px;
  border-radius: 3px;
  margin-top: 28px;
  text-align: center;
  margin-left: 300px;
}

.index-box h1 {
  font-size: 2.8rem;
  color: #01522c;
  font-weight: bold;
  margin-top: 50px;
}

.index-box span {
  color: #a0aec0;
}

.index-box p {
  font-weight: bold;
  font-size: 20px;
  margin-top: 6px;
  color: #9e9fa1;
}

/* Image Section */
#image-container {
  position: relative;
  top: 300px;
  height: 850px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

#image-container h1 {
  text-align: center;
  font-size: 3.1rem;
  color: #01522c;
  font-weight: bold;
}

#image {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 26px;
}

.image-box img {
  height: 260px;
  border-radius: 10px;
  padding: 20px 20px;
}

.image-box p {
  font-size: 20px;
  color: #1a202c;
  font-weight: bold;
}

/* Image1 Section */
#image1-container {
  position: relative;
  top: 450px;
  height: 780px;
}

#image1-container h1 {
  text-align: center;
  font-size: 3.3rem;
  color: #01522c;
  font-weight: bold;
}

#image1 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 26px;
}

.image1-box img {
  padding: 0px 6px;
  height: 300px;
  object-fit: cover;
}

/* contact section */
#contact-container {
  position: relative;
  top: 600px;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

#contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-box h1 {
  font-size: 35px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #718096;
}

.contact-box label {
  font-size: 18px;
  color: #718096;
}

.contact-box input {
  width: 100%;
  font-size: 1rem;
  padding: 10px;
  border: none;
  outline: none;
  border-bottom: 1px solid #667eea;
  margin-top: 12px;
}

.contact-box textarea {
  width: 585px;
  height: 150px;
  border: 1px solid #667eea;
  outline: none;
}

.btn {
  cursor: pointer;
  margin: 15px;
  background-color: #006838;
  padding: 12px 250px 12px 250px;
  font-size: 18px;
  border: none;
  border-radius: 7px;
  margin-bottom: 100px;
}

.btn:hover {
  background: transparent;
  color: #006838;
}

/* Footer section */
#footer {
  position: relative;
  top: 600px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 150px;
  margin-right: 300px;
  margin-top: 50px;
  height: 200px;
}

.footer-box1 h1 {
  color: #22543d;
  font-size: 15px;
  letter-spacing: 0.1em;
  font-weight: bold;
  margin-bottom: 18px;
}

.footer-box1 ul li {
  list-style: none;
  font-size: 17px;
  margin-top: 6px;
  color: #01522c;
}

.footer-box1 ul li a {
  text-decoration: none;
  color: #01522c;
}

.footer-box1 ul li a:hover,
.footer-box1 ul li:hover {
  color: #718096;
}

#footer1 {
  position: relative;
  top: 600px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 150px;
  margin-right: 150px;
}

/* Footer1 section */
.footer1-box p {
  color: #718096;
  margin-bottom: 20px;
  font-size: 18px;
}

.footer1-box1 i {
  font-size: 27px;
  color: #718096;
  margin-bottom: 20px;
  padding-left: 4px;
}
